models/COGS_experiment_forked/cogs_data
models/COGS_experiment_forked/slog_data
models/COGS_experiment_forked/checkpoint
models/COGS_experiment_forked/__pycache__
models/COGS_experiment_forked/modules/__pycache__

models/GPU_DeAR_deprecated/cogs_data
models/GPU_DeAR_deprecated/slog_data
models/GPU_DeAR_deprecated/checkpoint
models/GPU_DeAR_deprecated/__pycache__
models/GPU_DeAR_deprecated/modules/__pycache__gh_token

models/CPU_DeAR/checkpoint
models/CPU_DeAR/__pycache__
models/CPU_DeAR/modules/__pycache__
models/CPU_DeAR/cogs_data
models/CPU_DeAR/slog_data


analysis/finetune_llama/data/*
analysis/train_transformer/data/*
analysis/finetune_llama/logs/*
analysis/sparsity_test/*.tsv

pred_visualiser/input_tsvs

models/GPU_DeAR_deprecated/modules/__pycache__/*
.vscode/sessions.json
aws.creds
